main {
  display: flex;
  justify-content: space-around;
}

button{
  border: none;
  border-radius: 15px;
  background-color: burlywood;
  height: 50px;
  width: 50px;
  padding: 16px;
  align-self: center;
  color: white;
  font-size: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}

button:hover{
  cursor:pointer;
}

.flashcard {
  background-color: aqua;
  border-radius: 15px;
  padding: 50px;
  margin: auto;
}

.flashcard:hover{
  cursor:pointer;
}

.add{
  width: 200px;
  height: 100px;
  margin: auto;
  padding-top: 40px;
}

form {
  display: flex;
  justify-content: center;
}